/* .principal-bg{ background-color: #5c2b1c; } */
.principal-bg{
    background-color: #f5e7d6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container-journal{
    width: 600px; height: 500px;
    perspective: 1000px;
    position: relative;
}

#journal-cover{
    display: flex;
    top: 0; left: 0;
    z-index: 10;
    align-items: center; justify-content: center;
    width: 100%; height: 100%;
    background: linear-gradient(180deg, #b6bfd3, #91a1b9);
    box-shadow: 0 10px 30px rgba(64, 34, 88, 0.5);
    cursor: pointer;
    transition: transform 0.8s ease; transform-style: preserve-3d;
    position: absolute;
}

#journal-cover.opened{
    transform: rotateY(-180deg);
    pointer-events: none;
}

.cover-text{
    color: #7d90ac;
}

#journal-cover-content{
    text-align: center;
    padding: 20px;
    backface-visibility: hidden;
}

#inside-pages{
    position: absolute;
    right: 0; top: 0;
    width: 20px; height: 100%;
    background: linear-gradient( 180deg,#F5DEB3, #f3cb98 );
    border-radius: 0 8px 8px 0;
    z-index: -1;
}

#journal-pages{
    width: 100%; height: 100%;
    background: #F5DEB3;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    position: absolute;
    top: 0; left: 0;
    padding: 20px;
    box-sizing: border-box; overflow-y: auto;
    transition: opacity 0.5s ease; z-index: 5;
}

.page-navigation{
    margin: 1rem;
    padding: 0.5rem;
}

/* BUTTONS */
#back-to-cover{
    padding: 8px 16px;
    background: #3f5fc7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#back-to-cover:hover { background: #2c4db9; }

/* GLOBAL CLASSES AND ID*/
.hidden{
    opacity: 0;
    pointer-events: none;
}

.page{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.round-right-side{
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
}